@model guitarshop.Models.CatalogProd 

@{
    ViewBag.Title = Model.NameGuitar; 
}

<div class="container">
    <h1>@Model.NameGuitar</h1>
    <div style="display: flex; align-items: center;">
        <div style="width: 200px; margin-right: 10px;">
            <img src="~/image/@Model.GuitarImage" alt="@Model.NameGuitar" style="width: 100%; height: auto; max-width: 200px; max-height: 250px; display: block;">
        </div>
        <div>
            <p>Описание гитары: @Model.GuitarDescription</p>
        </div>
    </div>
    <p>Цена: @Model.GuitarPrice.ToString("C")</p>


</div>
