@{
    ViewData["Title"] = "ERROR ROLE";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1 class="display-4" style="font-family: Arial Black;">ошибка роли: данный пользователь не имеет права на выполнение выбранного действия</h1>
        </div>
    </div>
</div>

