@model guitarshop.Models.Role
@{
    ViewBag.Title = Model.RoleName;
}
<h2>Роль</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.IdRole</dd>
        <dt>Название роли</dt>
        <dd>@Model.RoleName</dd>
    </dl>
</div>