@model guitarshop.Models.Order

@{
    ViewBag.Title = "Изменение заказа";
}

<h1>Изменение заказа</h1>
<hr />
<form asp-action="UpdateOrder" asp-route-id="@Model.IdOrder" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdOrder" />

    <div class="form-group">
        <label asp-for="IdUser" class="control-label">Пользователь</label>
        <input asp-for="IdUser" class="form-control" type="number"/>
        <span asp-validation-for="IdUser" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OrderDate" class="control-label">Дата заказа</label>
        <input asp-for="OrderDate" class="form-control" type="date" />
        <span asp-validation-for="OrderDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OrderAddress" class="control-label">Адрес</label>
        <input asp-for="OrderAddress" class="form-control" />
        <span asp-validation-for="OrderAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OrderComment" class="control-label">Комментарий</label>
        <textarea asp-for="OrderComment" class="form-control"></textarea>
        <span asp-validation-for="OrderComment" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OrderTotalCost" class="control-label">Общая стоимость</label>
        <input asp-for="OrderTotalCost" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="OrderTotalCost" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="CrdOrder">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
