<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    main {
        flex-grow: 1;
        padding-bottom: 10px;
    }

    footer {
        background-color: #C8D5E5;
        width: 100%;
        height: 150px;
        position: relative;
    }

    .user-greeting {
        margin-left: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .bordered-logo {
        border-radius: 50%;
        border: 2px solid #191970;
    }

    .footer-logo {
        width: 50px;
        margin-bottom: 10px;
    }

</style>


<footer class="footer mt-auto py-3 margin-top: -20px;">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="footer-left">
            <img src="~/image/logo2.png" alt="Logo" width="40" height="40" class="rounded-circle" style="margin-bottom: 10px;" />
            <p class="footer-phone">+7 (852) 552-52-52</p>
            <p class="footer-phone">+7 (777) 55-78-01</p>
        </div>
        <div class="footer-right">
            <p class="footer-copyright">MPT PRODUCTION OOO GUIZNOTES</p>
            <p class="footer-copyright"> <b>© GUIZNOTES 2024</b></p>
        </div>
    </div>
</footer>
